.wrapper > h1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 14px 0 13px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
}

.modal__wrap {
  background-color: #fff;
  width: 60%;
  max-width: 640px;
  padding: 21px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__wrap--close {
  background-color: #fff;
  font-size: 24px;
  position: relative;
  width: 1.4em;
  height: 1.4em;
  border: 0.1em solid #39a9d6;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.modal__wrap--close:before {
  position: absolute;
  top: 0.1em;
  left: 0.5em;
  width: 0.2em;
  height: 1em;
  content: "";
  background-color: #39a9d6;
  transform: rotate(45deg);
}

.modal__wrap--close:after {
  position: absolute;
  top: 0.5em;
  left: 0.1em;
  width: 1em;
  height: 0.2em;
  content: "";
  background-color: #39a9d6;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

.modal__wrap--close:hover {
  opacity: 0.7;
}

.modal__wrap__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a82d3;
  color: #fff;
  padding: 4px 0;
  margin-bottom: 40px;
  position: relative;
}

.modal__wrap__title > p {
  position: absolute;
  left: 10px;
  font-size: 10px;
}

.modal__wrap__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 16px;
}

.modal__wrap__content img {
  display: block;
  width: 60%;
  min-width: 240px;
  margin: 0 auto;
}

.details li {
  border-bottom: 1px solid #bbb;
}

.details li:last-child {
  border: none;
}

.details li dl {
  display: flex;
  font-size: 16px;
  text-align: center;
}

.details li dl dt {
  width: 80px;
  background-color: #dadbdd;
  padding: 6px 0;
}

.details li dl dd {
  padding: 6px 0 6px 8px;
}

@media screen and (max-width: 560px) {
  .modal__wrap {
    width: 90%;
  }
}

@media screen and (max-width: 890px) {
  .details {
    width: 100%;
    margin-top: 28px;
  }
  .details li dl dt {
    width: 40%;
  }
}

.list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.list__item {
  background-color: #fff;
  width: calc((100% / 6) - 12px);
  padding: 20px;
  margin: 6px;
}

.list__item h3 {
  font-size: 16px;
}

.list__item p {
  margin-top: 6px;
  font-size: 11px;
}

.list__item img {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .list__item {
    width: calc((100% / 3) - 12px);
  }
}

@media screen and (max-width: 560px) {
  .list__item {
    display: block;
    width: 80%;
    margin: 0 auto 24px;
  }
}
